
.header {
  background-color: $white;
position: relative;
  &__content {

  }
}

.connection {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $md3+px) {
    background-color: $grey;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 40px;
    left: 0;
    border-bottom: solid 1px $grey;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &-block{
    display: flex;
    align-items: center;
    span {
      margin: 0 5px;
    }
    @media (max-width: $md3+px) {
     span{
       display: none;
     }
    }
  }
  &__city {
    cursor: pointer;
    position: relative;
    padding: 12px 5px;
    &:hover{
      background-color: $grey;

    }
    &.active{
      background-color: $grey;

    }
    @media (max-width: $md3+px) {
      img{
        width: 15px;
        margin: 0 6px 0 0;
      }
    }
  }

  &__auth {
    display: flex;

  }

  &__phone {
    margin: 0 28px 0 0;
    padding: 10px;
    cursor: pointer;
    &:hover{
      background-color: $grey;

    }
    @media (max-width: $md3+px) {
      margin: 0 12px 0 0;
    }
  }

  &__login {
    cursor: pointer;
    padding: 10px;
    &:hover{
      background-color: $grey;

    }
  }
}

.menu {
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding: 0 0 0;

  &__logo {
    padding: 16px 0;
    margin: 0 19px 0 0;
  }

  &__icon {
  }

  &__body {
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    padding: 25px 0 14px;

    li {
      margin: 0 39px 0 0;
      @media (max-width: $md2+px) {
        //display: none;
        margin: 0 7.5px ;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $black;
    @media (max-width: $md2+px) {
      font-size: 15px;
      line-height: 19px;

    }
    @media (min-width: $md2+px) {
      &:hover {
        color: $green;
      }

    }
  }
}


.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: absolute;
    top: 26px;
    right: 26px;
    width: 14px;
    height: 12px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 2px;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }

}

.connection__city-bg-modal{
  width: 100vw;
  height: 100vh;
  display: none;
  //background-color: #60bebe;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
.connection__city-bg-modal.active{
  display: block;
}

.connection__city-modal{
  width: 200px;
  height: 232px;

  position: relative;
  z-index: 11;

  padding: 10px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  ul{
    overflow-y: scroll;
    height: 180px;

    margin-top: 10px;
    li{
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
      cursor: pointer;
    }
  }
}

.connection__city-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  label{
    width: 20px;
    height: 20px;
    background-image: url(../img/main/lupa.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 17px;
    z-index: 11;
  }
  input{
    width: 150px;
    height: 30px;
    background-color: $grey;
    border-radius: 5px;
    padding: 9px 9px 9px 33px;
    position: relative;

  }
}

.menu__body_burger{
  display: none;
}
@media (max-width: $md3+px) {
  .menu__body_burger{
    position: fixed;
    top: 0;
    left: 0;
    //display: block;

    width: 100vw;
    height: 100vh;
    padding: 35px;
    background-color: #ffffff;
    z-index: 12;

    &.active{
      display: block;
    }

    .closebtn {
      position: absolute;
      top: 40px;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  .menu__list_burger{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
