.slick-slider {
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  //justify-content: center;
  //align-items: flex-start;
  @media (max-width: $md3) {
    display: inline-block;
  }
}

// Category
.category__slider {
  min-width: 0;
  position: relative;
}

.category__slider .category-slick-dots {
  display: flex;
  justify-content: center;
}

.category__slider .category-slick-dots li {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.category__slider .category-slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.category__slider .category-slick-dots li.slick-active button {
  background-color: $green;
}

//.category__slider .category__item{
//  text-align: center;
//}

// newProducts
.newProducts__slider {
  min-width: 0;
  position: relative;
}

.newProducts__slider .newProducts-slick-dots {
  display: flex;
  justify-content: center;
}

.newProducts__slider .newProducts-slick-dots li {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.newProducts__slider .newProducts-slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $grey;
  @media (min-width: $md3 + px) {
    background-color: $white;
  }
}

.newProducts__slider .newProducts-slick-dots li.slick-active button {
  background-color: $green;
}

// Product
.product-slider-big {
  min-width: 0;
  position: relative;
}

.product-slider-big .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 15px;
  height: 25px;
}

.product-slider-big .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/arrow-prev.svg") 0 0 /100% no-repeat;
}

.product-slider-big .slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/arrow-next.svg") 0 0 /100% no-repeat;
}

.product-slider-big .slick-dots {
  display: flex;
  justify-content: center;
}

.product-slider-big .slick-dots li {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.product-slider-big .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.product-slider-big .slick-dots li.slick-active button {
  background-color: $green;
}

//Product-min
.product-slider-min {
  min-width: 0;
  position: relative;
  margin: 20px  0 0 0;
}
.product-slider-min .product__sliderItem {
  margin: 0 10px 0 0;
}
//News
.news__slider {
  min-width: 0;
  position: relative;
  //margin: 20px  0 0 0;
}
.news__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 35px;
  height: 35px;
  margin-top: -10px;
}
.news__slider .news__slider-item {
  margin: 0 10px 0 0;
}

.news__slider .slick-arrow.slick-prev {
  left: -20px;
  background: url("../img/news-page/left.svg") 0 0 /100% no-repeat;
}

.news__slider .slick-arrow.slick-next {
  right: -10px;
  background: url("../img/news-page/right.svg") 0 0 /100% no-repeat;
}
